/* General */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper-mini {
  max-width: 800px;
  margin: 0 auto;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  min-height: 100vh;
  background-color: var(--wp--preset--color--pl-gray-100);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
}
/* Header */

.wp-block-navigation-item__label {
  position: relative;
  padding: 1rem;
  margin: 1rem 0rem;
  transition: color 0.3s;
}

.wp-block-navigation-item__label::after,
.wp-block-navigation-item__label::before {
  content: "";
  position: absolute;
  bottom: -5%;
  width: 0;
  height: 2px;
  background-color: var(--wp--preset--color--pl-black);
  transition: width 0.3s;
}

.wp-block-navigation-item__label::after {
  left: 50%;
}

.wp-block-navigation-item__label::before {
  right: 50%;
}

.wp-block-navigation-item__label:hover::after,
.wp-block-navigation-item__label:hover::before {
  width: 50%;
}

.wp-block-navigation-item__label:hover {
  color: var(--wp--preset--color--pl-black);
}

ul.wp-block-navigation__container {
  margin: 0 auto;
  padding: 1rem;
}

ul.wp-block-navigation__container > li {
  text-align: center;
}

.wp-block-navigation__responsive-container-close > svg {
  padding: 1rem;
  margin: 1rem;
  width: 60px !important;
  height: 60px !important;
}

.wp-block-post {
  padding: 2rem;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  border-bottom: 1px solid var(--wp--preset--color--pl-gray-300);
  box-shadow: 0px 3px 10px 1px var(--wp--preset--color--pl-black);
  z-index: 1000;
}

.logo {
  height: 100px;
  width: 100px;
}

.header-container {
  justify-content: space-between;
}

.wp-block-search__button {
  transition: background-color 0.3s;
}

.wp-block-search__button:hover {
  background-color: var(--wp--preset--color--pl-blue-200) !important;
}

.navigation-list {
  display: flex;
  align-items: flex-end;
  margin: 1rem;
  font-size: 1.5rem;

  li {
    position: relative;
    color: var(--wp--preset--color--pl-gray-300);
    padding: 1rem;
  }
}

@keyframes slowAppear {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.slow-appear {
  animation: slowAppear 1s ease-in-out forwards;
}

/* Mobile Main View Fix */
.responsive-columns {
  display: flex;
  flex-direction: row;
}

/* Main */

.image-holder {
  width: 400px;
  height: 200px;
  border: 2px dashed black;
  border-radius: 8px;
  margin: 1rem;
}

.main-container {
  justify-content: space-evenly;
}

.posts-container {
  padding: 2rem;
}

.tags-container {
  border: 1px dashed black;
  border-radius: 8px;
  padding: 2rem;
  margin: 2rem;
  margin-bottom: auto;
}

.tag-cloud-link {
  color: var(--wp--preset--color--pl-gray-400);
  transition: color 0.3s;
}

.tag-cloud-link:visited {
  color: var(--wp--preset--color--pl-gray-400);
}

.tag-cloud-link:hover {
  color: var(--wp--preset--color--pl-blue-200);
}

.wp-block-query-pagination {
  color: var(--wp--preset--color--pl-black);
}

.wp-block-query-pagination a {
  color: var(--wp--preset--color--pl-blue-200);
  transition: color 0.3s;
}

.wp-block-query-pagination a:hover {
  color: var(--wp--preset--color--pl-blue-100);
}

/* Aside */
.buy-now:hover {
  color: var(--wp--preset--color--pl-blue-100);
}

/* Footer */

.footer {
  background-color: var(--wp--preset--color--pl-blue-100);
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 1rem;
  color: var(--wp--preset--color--pl-white);

  p a {
    margin: 0.25rem;
    padding: 1rem;
    transition: color 0.3s;
  }

  p a:hover {
    color: var(--wp--preset--color--pl-black);
  }
}

/* Tags */

.heading-tag {
  border-radius: 8px;
}

/* Single Post */

.single-post-container {
  position: relative;
}

.single-post-excerpt {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  border-radius: 8px;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.single-post-comments-container {
  border-top: 1px solid var(--wp--preset--color--pl-blue-100);
  border-radius: 8px;
}

.single-post-comments-container + ol > li > div {
  /* Comment reply */
  background-color: var(--wp--preset--color--pl-gray-100);
  margin: 1rem;
  padding: 1rem;
}

.form-submit > input {
  margin: 1rem 0;
  background-color: var(--wp--preset--color--pl-blue-100);
  border-radius: 8px;
  transition: background-color 0.3s;
}

.form-submit > input:hover {
  background-color: var(--wp--preset--color--pl-blue-200);
}

.reply-and-edit-container > div {
  transition: background-color 0.3s;
  border-radius: 8px;
}

.reply-and-edit-container > div:hover {
  background-color: var(--wp--preset--color--pl-blue-200) !important;
}

.reply-and-edit-container > div > a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
}

.reply-and-edit-container > div > a:hover {
  color: var(--wp--preset--color--pl-white);
}

.required-field-message {
  display: none;
}

.comment-form-comment {
  margin: 2rem 0rem;
}

.comment-form-comment > label > span {
  display: none;
}

.logged-in-as {
  display: none;
}

textarea#comment {
  margin: 1rem 0rem;
}

.single-post-comments-container {
  transition: background-color 0.3s;
}

.wp-block-comment-content {
  transition: color 0.3s;
}

li.comment:hover > .single-post-comments-container {
  background-color: rgba(30, 169, 204, 0.75);
}

li.comment > .single-post-comments-container > * {
  transition: color 0.3s;
}

.comment:hover
  > .single-post-comments-container
  > .wp-block-column
  > .wp-block-comment-content {
  color: var(--wp--preset--color--pl-white) !important;
}

/******** SHOP ********/

/* Header */
.box-shadow {
  box-shadow: 0px 3px 10px 1px var(--wp--preset--color--pl-black);
}

.shop-menu a {
  transition: color 0, 3s;
  padding: 1rem;
}

.shop-menu a:hover {
  color: var(--wp--preset--color--pl-blue-100);
}

.sub-cover-blocks-container {
  border-bottom: 2px solid var(--wp--preset--color--pl-blue-100);
}

.sub-cover-blocks > div {
  border-left: 2px solid var(--wp--preset--color--pl-blue-100);
  transition: font-size 0.3s;
  width: 25%;
}
.sub-cover-blocks > div:nth-last-child(1) {
  border-right: 2px solid var(--wp--preset--color--pl-blue-100);
}

.sub-cover-blocks > div:hover {
  font-size: calc();
}

/* Media Queries */

@media (max-width: 781px) {
  .responsive-columns {
    flex-direction: column-reverse;
  }
  .aside-container:nth-child(1) {
    font-size: 1.5rem !important;
  }
  .wp-block-tag-cloud a {
    font-size: 1.5rem !important;
  }
  .featured-book {
    width: 60% !important;
  }
  .buy-now {
    font-size: 1.75rem !important;
  }
  ul.wp-block-navigation__container > li {
    padding: 1rem;
    margin: 0 auto !important;
  }
}

@media (max-width: 1200px) {
  .login-column {
    display: none;
  }
  .login-mobile {
    text-align: end;
    padding: 1rem;
  }
  .login-mobile > a {
    padding: 1rem;
    font-size: 2.5rem;
    color: var(--wp--preset--color--pl-blue-100);
  }
}

@media (min-width: 1201px) {
  .login-mobile {
    display: none;
  }
}
